#root {
  box-sizing: border-box;
  height: 97vh;
}
.header {
  margin: 3vh 0;
  color: rgb(218, 247, 166);
  text-align: center;
}

.created-by {
  margin: 3vh 0;
  color: rgb(218, 247, 166);
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  min-height: 100%;
}

body {
  background-color: rgb(144, 12, 63);
}

.p {
  padding: 15px;
  font-size: large;
}

textarea {
  background-color: rgb(218, 247, 166);
  min-height: 70vh;
  min-width: 40vw;
  resize: none;
  border: solid 3px rgb(199, 0, 57);
}

.markdown-text {
  background-color: rgb(218, 247, 166);
  display: inline;
  border: solid 3px rgb(199, 0, 57);
  min-height: 70vh;
  min-width: 40vw;
}
